/* stylelint-disable selector-no-id */

@import 'shopping_spree_text_message';

@import 'shopping_spree_joined_message';

@import 'shopping_spree_dress_message';

@import 'shopping_spree_cart';

@import 'shopping_spree_modal';

@import 'shopping_spree_share_modal';

@import 'shopping_spree_add_to_cart_modal';

@import 'shopping_spree_toast';

@import 'variables';

@import '../node_modules/react-toastify/dist/ReactToastify.min.css';



$header_height: 68px;
$chat_bar_height: 55px;
$chat_bar_header_height: 22px;

.shopping-spree {
  font-weight: 400;
}

.shopping-spree .shopping-spree-error {
  color: $c-red;
}

.shopping-spree .red-border {
  border-color: $c-red;
}

.shopping-spree .shopping-spree-link {
  text-decoration: underline;
}

.shopping-spree .shopping-spree-headline {
  font-size: 18px;
}

.shopping-spree .shopping-spree-big-headline {
  font-size: 24px;
}

.shopping-spree .center-button-text {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-spree .no-right-gutter {
  margin-right: 0;
  padding-right: 0;
}

.shopping-spree .no-right-gutter {
  margin-right: 0;
  padding-right: 0;
}

.shopping-spree .no-left-gutter {
  margin-left: 0;
  padding-left: 0;
}

.shopping-spree .row.top-padding-sm {
  padding-top: 15px;
}

.shopping-spree .row.bottom-padding-sm {
  padding-bottom: 15px;
}

.shopping-spree .vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shopping-spree .no-horizontal-padding {
  padding-left: 0;
  padding-right: 0;
}

.shopping-spree-wrapper .shopping-spree-container .equal {
  display: flex;
  flex-wrap: wrap;
}

.shopping-spree-wrapper .shopping-spree-container .header {
  background-color: $c-white;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px;
  border-bottom-color: $c-medium-gray;
  border-bottom-style: solid;
  border-top: 1px;
  border-top-color: $c-medium-gray;
  border-top-style: solid;
  height: $header_height;

  @extend .vertical-align;

}

.shopping-spree-wrapper .shopping-spree-container .full-toggle-btn {
  display: none;
  cursor: pointer;
}

.shopping-spree-wrapper .shopping-spree-container .icon-bag {
  cursor: pointer;
  font-size: 22px;
}

.shopping-spree-wrapper .shopping-spree-container .toggle-btn {
  display: block;
  cursor: pointer;
  z-index: 10;
  color: $c-black;
  padding-bottom: 3px;
}

.shopping-spree-wrapper .shopping-spree-container .open-caret:before {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  border-left: 8px solid $c-black;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.shopping-spree-wrapper .shopping-spree-container .open-caret:after {
  content: '';
  position: absolute;
  left: 20px;
  top: 1px;
  border-left: 7px solid $c-white;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.shopping-spree-wrapper .shopping-spree-container .open-caret {
  background-color: $c-white;
  padding-bottom: 15px;
}

.shopping-spree-wrapper .shopping-spree-container .chat-list {
  overflow-x: hidden;
}

.shopping-spree-wrapper .shopping-spree-container .chat-list ul {
  list-style-type: none;
  padding: 0;
}

.shopping-spree-wrapper .shopping-spree-container .chat-list .chat-header {
  font-size: 14px;
}

.shopping-spree-wrapper .shopping-spree-container .chat-list .chat-header .header-name {
  color: $c-medium-gray;
}

.shopping-spree-wrapper .shopping-spree-container .chat-bar {
  height: 55px;
}

.shopping-spree-wrapper .shopping-spree-container .chat-bar .btn {
  height: 100%;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-spree-wrapper .shopping-spree-container .chat-bar .shoppingSpreeTextInput {
  height: 100%;
  width: 100%;
  border-color: $c-medium-gray;
  border-width: 1px;
  font-size: 20px;
  padding-left: 20px;
}

.shopping-spree-wrapper .shopping-spree-container .chat-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc( 100vh - #{$header_height} - #{$chat_bar_height} - #{$chat_bar_header_height} );
}

.shopping-spree-wrapper .shopping-spree-container.collapsed {
  height: auto;
}

.shopping-spree-wrapper .shopping-spree-container.collapsed .chat-bar {
  display: none;
}

.shopping-spree-wrapper .shopping-spree-container.collapsed .chat-list {
  display: none;
}

.shopping-spree-wrapper .shopping-spree-container {

  @extend .shopping-spree;

  background-color: $c-white;
  width: 500px;
  height: 100%;
  color: $c-black;
}

.shopping-spree-wrapper {
  position: fixed;
  top: 0px;
  right: 0px;
  overflow: hidden;
  z-index: 999;
}

@media (max-width: 767px) {
  .shopping-spree .no-gutter-mobile {
    margin-right: 0;
    padding-right: 0;
    margin-left: 0;
    padding-left: 0;
  }

  .shopping-spree .no-gutter-mobile {
    margin-right: 0;
    padding-right: 0;
    margin-left: 0;
    padding-left: 0;
  }

  .shopping-spree-wrapper {
    position: fixed;
    top: auto;
    bottom: 0px;
    height: auto;
    width: 100%;
  }

  .shopping-spree-container {
    width: 100%;
  }

  .shopping-spree-container .shoppingSpreeTextInput {
    font-size: 14px;
  }

  .shopping-spree-container.open {
    min-height: 100%;
  }

  .shopping-spree-container .btn {
    padding: 10px 20px;
    font-size: 14px;
  }

  .shopping-spree-container .open-caret:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 8px solid $c-black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }

  .shopping-spree-container .open-caret:after {
    content: '';
    position: absolute;
    left: 1px;
    top: 0;
    border-top: 7px solid $c-white;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }

  .shopping-spree-container .open-caret {
    background-color: $c-white;
  }

  .shopping-spree-container .closed-caret {
    background-color: $c-white;
  }

  .shopping-spree-container .closed-caret:before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    border-bottom: 8px solid $c-black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }

  .shopping-spree-container .closed-caret:after {
    content: '';
    left: 1px;
    top: 1px;
    position: absolute;
    border-bottom: 7px solid $c-white;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }

  .shopping-spree-container .header {
    text-align: left;
    font-size: 16px;
    padding-left: 20px;
  }
}

@media (min-width: 767px) {
  .shopping-spree-wrapper .collapsed {
    top: 40px;
    right: 20px;
  }

  .shopping-spree-wrapper .shopping-spree-container.collapsed .header {
    height: 44px;
    border-width: 1px;
    border-style: solid;
    border-radius: 9px;
    border-color: $c-medium-gray;
  }

  .shopping-spree-wrapper .shopping-spree-container.collapsed .toggle-btn {
    display: none;
  }

  .shopping-spree-wrapper .shopping-spree-container.collapsed .full-toggle-btn {
    background-color: $c-red;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: transparent;
    z-index: 1000;
  }

  .shopping-spree-wrapper .shopping-spree-container.collapsed {
    width: 250px;
    border-radius: 9px;
  }

  .shopping-spree-wrapper .shopping-spree-container .chat-list .chat-content {
    display: block;
  }
}


.ExitModal {
  width: 320px;
  height: 245px;
  background-color: #ffffff;
  border: 1px solid #bfbfbf;
  margin: 25vh auto 0;
}

@media (min-width: 767px) {
  .ExitModal {
    width: 375px;
  }
}

.ExitModal__buttonContainer {
  text-align: center;
}

.ExitModal .headline {
  text-align: center;
  padding-top: 55px;
  line-height: 24px;
  font-size: 20px;
}

.ExitModal .btn {
  min-width: 125px;
  border: 1px solid #000;
  object-fit: contain;
  margin: 0 5px;
  font-size: 14px;
}

@media (min-width: 767px) {
  min-width: 143px;
  margin: 0 10px;
}

.ExitModal__closeIcon {
  text-align: right;
  margin-bottom: 0;
  font-size: 55px;
  line-height: 42px;
  padding-right: 40px;
  padding-top: 6px;
  cursor: pointer;
}


@-webkit-keyframes toastify-bounceInRight{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(3000px,0,0);transform:translate3d(3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}to{-webkit-transform:none;transform:none}}@keyframes toastify-bounceInRight{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(3000px,0,0);transform:translate3d(3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}to{-webkit-transform:none;transform:none}}.toast-enter--bottom-right,.toast-enter--top-right,.toastify-bounceInRight{-webkit-animation-name:toastify-bounceInRight;animation-name:toastify-bounceInRight}@-webkit-keyframes toastify-bounceOutRight{20%{opacity:1;-webkit-transform:translate3d(-20px,0,0);transform:translate3d(-20px,0,0)}to{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}}@keyframes toastify-bounceOutRight{20%{opacity:1;-webkit-transform:translate3d(-20px,0,0);transform:translate3d(-20px,0,0)}to{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}}.toast-exit--bottom-right,.toast-exit--top-right,.toastify-bounceOutRight{-webkit-animation-name:toastify-bounceOutRight;animation-name:toastify-bounceOutRight}@-webkit-keyframes toastify-bounceInLeft{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(-3000px,0,0);transform:translate3d(-3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(25px,0,0);transform:translate3d(25px,0,0)}75%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}90%{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0)}to{-webkit-transform:none;transform:none}}@keyframes toastify-bounceInLeft{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(-3000px,0,0);transform:translate3d(-3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(25px,0,0);transform:translate3d(25px,0,0)}75%{-webkit-transform:translate3d(-10px,0,0);transform:translate3d(-10px,0,0)}90%{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0)}to{-webkit-transform:none;transform:none}}.toast-enter--bottom-left,.toast-enter--top-left,.toastify-bounceInLeft{-webkit-animation-name:toastify-bounceInLeft;animation-name:toastify-bounceInLeft}@-webkit-keyframes toastify-bounceOutLeft{20%{opacity:1;-webkit-transform:translate3d(20px,0,0);transform:translate3d(20px,0,0)}to{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}}@keyframes toastify-bounceOutLeft{20%{opacity:1;-webkit-transform:translate3d(20px,0,0);transform:translate3d(20px,0,0)}to{opacity:0;-webkit-transform:translate3d(-2000px,0,0);transform:translate3d(-2000px,0,0)}}.toast-exit--bottom-left,.toast-exit--top-left,.toastify-bounceOutLeft{-webkit-animation-name:toastify-bounceOutLeft;animation-name:toastify-bounceOutLeft}@-webkit-keyframes toastify-bounceInUp{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}@keyframes toastify-bounceInUp{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}75%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}90%{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}.toast-enter--bottom-center,.toastify-bounceInUp{-webkit-animation-name:toastify-bounceInUp;animation-name:toastify-bounceInUp}@-webkit-keyframes toastify-bounceOutUp{20%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}to{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}}@keyframes toastify-bounceOutUp{20%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,20px,0);transform:translate3d(0,20px,0)}to{opacity:0;-webkit-transform:translate3d(0,-2000px,0);transform:translate3d(0,-2000px,0)}}.toast-exit--top-center,.toastify-bounceOutUp{-webkit-animation-name:toastify-bounceOutUp;animation-name:toastify-bounceOutUp}@-webkit-keyframes toastify-bounceInDown{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}to{-webkit-transform:none;transform:none}}@keyframes toastify-bounceInDown{0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}to{-webkit-transform:none;transform:none}}.toast-enter--top-center,.toastify-bounceInDown{-webkit-animation-name:toastify-bounceInDown;animation-name:toastify-bounceInDown}@-webkit-keyframes toastify-bounceOutDown{20%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}to{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}}@keyframes toastify-bounceOutDown{20%{-webkit-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)}40%,45%{opacity:1;-webkit-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)}to{opacity:0;-webkit-transform:translate3d(0,2000px,0);transform:translate3d(0,2000px,0)}}.toast-exit--bottom-center,.toastify-bounceOutDown{-webkit-animation-name:toastify-bounceOutDown;animation-name:toastify-bounceOutDown}.toastify-animated{-webkit-animation-duration:.75s;animation-duration:.75s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.toastify{z-index:1;position:fixed;padding:4px;width:320px;box-sizing:border-box;color:#fff}.toastify--top-left{top:1em;left:1em}.toastify--top-center{top:1em;left:50%;margin-left:-160px}.toastify--top-right{top:1em;right:1em}.toastify--bottom-left{bottom:1em;left:1em}.toastify--bottom-center{bottom:1em;left:50%;margin-left:-160px}.toastify--bottom-right{bottom:1em;right:1em}@media only screen and (max-width:480px){.toastify{width:100vw;padding:0}.toastify--top-center,.toastify--top-left,.toastify--top-right{left:0;top:0;margin:0}.toastify--bottom-center,.toastify--bottom-left,.toastify--bottom-right{left:0;bottom:0;margin:0}}.toastify__close{padding:0;color:#fff;font-weight:700;font-size:14px;background:transparent;outline:none;border:none;cursor:pointer;opacity:.7;transition:.3s ease;-ms-flex-item-align:start;align-self:flex-start}.toastify__close:focus,.toastify__close:hover{opacity:1}.toastify-content--default .toastify__close{color:#000;opacity:.3}.toastify-content--default .toastify__close:hover{opacity:1}.toastify-content{position:relative;min-height:48px;margin-bottom:1rem;padding:8px;border-radius:1px;box-shadow:0 1px 10px 0 rgba(0,0,0,.1),0 2px 15px 0 rgba(0,0,0,.05);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;max-height:800px;overflow:hidden;font-family:sans-serif;cursor:pointer}.toastify-content--default{background:#fff;color:#aaa}.toastify-content--info{background:#3498db}.toastify-content--success{background:#07bc0c}.toastify-content--warning{background:#f1c40f}.toastify-content--error{background:#e74c3c}.toastify__body{margin:auto 0;-webkit-box-flex:1;-ms-flex:1;flex:1}@media only screen and (max-width:480px){.toastify-content{margin-bottom:0}}@-webkit-keyframes track-progress{0%{width:100%}to{width:0}}@keyframes track-progress{0%{width:100%}to{width:0}}.toastify__progress{position:absolute;bottom:0;left:0;width:0;height:5px;z-index:1;opacity:.7;-webkit-animation:track-progress linear 1;animation:track-progress linear 1;background-color:hsla(0,0%,100%,.7)}.toastify__progress--default{background:linear-gradient(90deg,#4cd964,#5ac8fa,#007aff,#34aadc,#5856d6,#ff2d55)}

.ToastAlert__container .toastify {
  margin-top: 150px;
}

.ToastAlert__container .toastify-content {
    border-radius: 9px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
}

.ToastAlert__container {
  background-color: #f5f5f5;
  color: #000000;
}


.ToastAlert__container .toastify__body {
  color: #000;
}


.ToastAlert__container .ToastAlert__closeButton {
  font-size: 30px;
  line-height: 25px;
  color: black;
  font-weight: 100;
}

.ToastAlert__container .toastify__close {
  opacity: 1;
}

.ToastAlert__container--discount .toastify__body, .ToastAlert__container--discount .ToastAlert__closeButton {
  color: #fff;
}

.ToastAlert__container--discount .toastify-content {
  background: black;
}
